@import "tailwindcss";
@theme {
  --color-themeyellow: #f5e60d;
  --color-themepurple: #502ec3;
}

grid-template-columns: auto auto auto auto auto;

#icons {
  display: none;
}

#product-box:hover {
  #icons {
    display: flex !important;
  }
}
